/* @override http://localhost/jsplumb/sparql_views_ui.css */

body {
  font-family: Arial, Helvetica, sans-serif;
}

#workspace-window {
  border: #fff 20px solid;
  height: 600px;
  overflow: hidden;
  width: 95%;
}

#workspace {
  background: #eee;
  position: relative;
  height: 4000px;
  width: 4000px;
}

#predicate-store {
  background: #fff;
  height: 300px;
  padding: 20px;
  position: absolute; right: 30px;
  width: 180px;
  z-index: 200;
}

.box {
  border: #aac7cc solid 5px;
  width: 200px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.header-bar {
  background: #aac7cc;
  padding: 1px 10px 8px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.predicate {
  background: #CDE9E7;
  left:  50%;
}

.rdf-node {
  background: #aac7cc;
}

.detach {
  background: red;
  background-image: -webkit-gradient(radial, 3 3, 10, 6 6, 0, from(#A3090F), to(#CFC7C7), color-stop(.6,#990F0F));
  color: #fff;
  cursor: pointer;
  font-size: 8px;
  font-weight: bold;
  height: 6px;
  margin: 0 5px 0 0;
  padding: 3px 5px 4px 4px;
  width: 4px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  
  -moz-box-shadow:1px 1px 2px #333333;
  -webkit-box-shadow:1px 1px 2px #333333;
  box-shadow:1px 1px 2px #333333;
}

.ui-draggable {
  cursor: move;
}

.form {
  padding: 5px 10px;
}

._jsPlumb_endpoint { 
  cursor: pointer;
  z-index:50; 
}

.box label {
  font-size: .7em;
  font-style: italic;
}

.add-predicate {
  display: block;
  margin-left: 185px;
  position: absolute;
  text-align: center;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.add-predicate .button{
  background: #fff;
  border: #8efe6d 4px solid;
  color: #8efe6d;
  display: block;
  font-size: 30px;
  height: 25px;
  text-align: center;
  width: 25px;
  
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.add-predicate .list {
  background: #fff;
  border: #8efe6d 4px solid;
  position: absolute;
}

#edit-query-wrapper {
  position: relative; bottom:0px;
  z-index: 100;
}

.drag-locked { border:1px solid red; }
._jsPlumb_connector { z-index:1; }
.dropHover { border:1px dotted red; }
.dragActive { border:2px dotted orange; }
.cmdLink { font-size:0.80em;}
#clear { padding:0.3em; }
#clear:hover { background-color:yellow; }