/* @override http://localhost/jsplumb/sparql_views_ui.css */

#dialog-main {
  background: #ddd;
}

#workspace-window {
  height: 500px;
  overflow: hidden;
  width: 100%;
}

#workspace {
  background: #fff;
  position: relative; left: -2000px; top: -2000px;
  height: 4000px;
  width: 4000px;
}

#preview {
  position: relative;
  z-index: 100;
}

#predicate-store-wrapper {
  background: #ddd;
  padding: 10px 0 10px 10px;
  position: absolute; right: 15px;
  width: 270px;
  z-index: 200;
  
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-left-radius: 15px;
}

#predicate-store {
  background:#eee;
  margin-bottom: 10px;
  max-height: 280px;
  overflow-y: scroll;
}

#predicate-store-toggle-wrapper {
  text-align: center;
}

#predicate-store-toggle {
  width: 60px;
}

.box {
  border: #aac7cc solid 5px;
  width: 200px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.header-bar {
  background: #aac7cc;
  padding: 0px 10px 4px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.predicate .header-bar {
  background: #ccc;
}

.predicate {
  background: #eee;
  border: #ccc solid 5px;
}

.rdf-node {
  background: #CDE9E7;
}

#predicate-store .predicate {
  font-size: .9em;
  margin: 10px;
  padding: 5px 10px;

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#DFDFDF), color-stop(.6,#CECECE));
  background: -moz-linear-gradient(19% 75% 90deg,#ababab, #c9c9c9, #c7c7c7 100%);

  -webkit-box-shadow: 2px 2px 5px #AAAAAA;
  -moz-box-shadow: 2px 2px 5px #AAAAAA;
  box-shadow: 2px 2px 5px #AAAAA;;
}

.detach,
.minimize {
  color: #666;
  cursor: pointer;
  font-size: 8px;
  font-weight: bold;
  height: 4px;
  margin: 0 5px 0 0;
  padding: 2px 4px;
  width: 4px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  
  -moz-box-shadow:1px 1px 2px #777;
  -webkit-box-shadow:1px 1px 2px #777;
  box-shadow:1px 1px 2px #777;
}

.detach :hover,
.minimize span:hover {
  color: red;
}

.ui-draggable {
  cursor: move;
}

.form {
  padding: 5px 10px;
}

._jsPlumb_endpoint { 
  cursor: pointer;
  z-index:50; 
}

.box label {
  font-size: .7em;
  font-style: italic;
}

.add-predicate {
  display: block;
  margin-left: 185px;
  position: absolute;
  text-align: center;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.add-predicate .button{
  background: #fff;
  border: #8efe6d 4px solid;
  color: #8efe6d;
  display: block;
  font-size: 30px;
  height: 25px;
  text-align: center;
  width: 25px;
  
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.add-predicate .list {
  background: #fff;
  border: #8efe6d 4px solid;
  position: absolute;
}

#edit-select-clause-wrapper {
  position: absolute; 
  width: 600px; bottom:0px;
  z-index: 100;
}

.process {
  cursor:pointer;
  float:right;
  line-height:1.4em;
  margin:0.5em 0.4em 0.5em 0;
  overflow:visible;
  padding:0.2em 0.6em 0.3em;
  width:auto;
}

.add-predicate .list div {
  margin: 5px;
}

.drag-locked { border:1px solid red; }
._jsPlumb_connector { z-index:1; }
.dropHover { border:1px dotted red; }
.dragActive { border:2px dotted orange; }
#clear { padding:0.3em; }
#clear:hover { background-color:yellow; }